:root{
    --principal-color : rgba(65,55,55,0.6);
    --second-color : rgba(65,55,55,100%);
    --third-color : rgba(41, 126, 186, 100%)
}

body a{
    text-decoration: none;
    color: #DDDDDD;
}

.formRegister{
    width: 80%;
    color: #DDDDDD;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
}