:root{
    --principal-color : rgba(65,55,55,0.6);
    --second-color : rgba(65,55,55,100%);
    --third-color : rgba(41, 126, 186, 100%)
}

main{
    width: 100%;
    min-height: 100vh;
    background-color: var(--principal-color) !important;
}
.contact{
    height: 35vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
@media screen and (max-width: 900px) {
    .contact{
        width: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}