:root{
    --principal-color : rgba(65,55,55,0.6);
    --second-color : rgba(65,55,55,100%);
    --third-color : rgba(41, 126, 186, 100%)
}

main{
    width: 100%;
    min-height: 72vh;
    background-color: var(--second-color);
}
.contact{
    display: flex;
    align-items: center;
}