:root{
    --principal-color : rgba(65,55,55,0.6);
    --second-color : rgba(65,55,55,100%);
    --third-color : rgba(41, 126, 186, 100%)
}

body {
    background-color:var(--principal-color);
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(calc(50vh - 208px - 52px));
}
.flex-center a{
    text-decoration: none;
    color: #DDDDDD;
}
.formConnexion{
    width: 30%;
    /*height: 400px;*/
    background-color: var(--third-color);
    border-radius: 20px;
    line-height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formConnexion > form{
    width: 80%;
    color: #DDDDDD;
    display: flex;
    flex-direction: column;
}
button{
    height: 30px;
    margin: 20px 90px;
    border-radius: 5px;
    border: 1px solid rgb(2,71,120);
    cursor: pointer ;
    color: #DDDDDD;
    background-color: var(--third-color);
}
button:hover {
    background-color: rgb(2,71,120);

}
.fieldsConnexion{
    display: flex;
    flex-direction: column;
}
.register{
    text-align: center;
    margin: 20px 90px;
    border-radius: 5px;
    border: 1px solid rgb(2,71,120);
    cursor: pointer ;
    color: #DDDDDD;
    background-color: var(--third-color);
}
.register:hover{
    background-color: rgb(2,71,120);
}
@media screen and (max-width: 600px) {
    .formConnexion{
        width: 70%;
        height: 400px;
        background-color: var(--third-color);
        border-radius: 20px;
        line-height: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button:hover {
        background-color: rgb(2,71,120);

    }
}