:root{
    --principal-color : rgba(65,55,55,0.6);
    --second-color : rgb(65,55,55);
    --third-color : rgb(41, 126, 186);
    --third-color-dark : rgba(22,69,102);
    --danger-color : rgb(175, 55, 55);
    --success-color : rgb(65, 175, 55);
}

::-webkit-scrollbar {
    width: 10px;

}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 20px;
    /*border: 3px solid black;*/
}
::-webkit-scrollbar-thumb{
    background: var(--third-color);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--third-color-dark);
}
body{
    background-color:var(--principal-color);
}
body > a{
     width: 400px;
     text-decoration: none;
     color: #DDDDDD;
}
.textPage{
    width: 100%;
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.box{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    width: 400px;
    border-radius: 10px;
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}
.box a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box a img{
    width: 400px;
    padding:25px;
    border-bottom: 1px solid black;
}

.box p {
    margin: 5px 0;
}

.warning {

}

.danger-color {
    color: var(--danger-color);
}

.success-color {
    color: var(--success-color);
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Warning Icon */
.warn,
.warn::before,
.warn::after
{
    position: relative;
    padding: 0;
    margin: 0;
}

.warn {
    font-size: 24px;
    color: transparent;
    transform: translateY(-12.5%);
}

.ml-2 {
    margin-left: 10px;
}

.warn.warning {
    display: inline-block;

    top: 0.225em;

    width: 1.15em;
    height: 1.15em;

    overflow: hidden;
    border: none;
    background-color: transparent;
    border-radius: 0.625em;
}

.warn.warning::before {
    content: "";
    display: block;
    top: -0.08em;
    left: 0.0em;
    position: absolute;
    border: transparent 0.6em solid;
    border-bottom-color: var(--danger-color);
    border-bottom-width: 1em;
    border-top-width: 0;
    box-shadow: #999 0 1px 1px;
}

.warn.warning::after {
    display: block;
    position: absolute;
    top: 0.3em;
    left: 0;
    width: 100%;
    padding: 0 1px;
    text-align: center;
    font-family: "Garamond";
    content: "!";
    font-size: 0.65em;
    font-weight: bold;
    color: #333;
}
