:root{
    --principal-color : rgba(65,55,55,0.6);
    --second-color : rgb(65,55,55);
    --third-color : rgb(41, 126, 186);
    --third-color-dark : rgba(22,69,102);
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--principal-color);
    display: flex;
    align-items: center;
}
body a{
    text-decoration: none;
    color: white;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article{
    color: white;
}
.card{
    width: 100%;
    background-color: var(--third-color);
    border-radius: 20px;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}