<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
{% block body %}
<body>
    <h1>Bienvenue sur la page d'accueil</h1>
    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Deconnecter</a>
        </div>
    {% endif %}

    <a href="{{ path('myAccount') }}">mon profil</a>
    <a href="{{ path('app_login') }}">Connexion</a>

</body>
{% endblock %}
</html>